@using Haxgo.Entities
@using Haxgo.Web.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    int i = 1;
    List<Menu> menulist = ViewBag.Menus as List<Menu>;
    List<Category> catelist = ViewBag.Categorys as List<Category>;
    List<Site> sitelist = ViewBag.Sites as List<Site>;
}
<style type="text/css">
.hotscreen {
overflow: hidden;
}
.box {
margin-bottom: 35px;
}
.hc-main {
float: left;
width: 990px;
}
.hc-cat {
float: left;
width: 128px;
border: 1px solid #dbdbdb;
}

.box h2 {
font-size: 18px;
font-weight: normal;
margin-bottom: 15px;
color: #101010;
font-family: '\5fae\8f6f\96c5\9ed1','microsoft yahei','\5b8b\4f53',sans-serif;
}
.hc-cat h2 {
height: 36px;
line-height: 36px;
border-bottom: 2px solid #dbdbdb;
margin-bottom: 0;
font-size: 18px;
text-align: center;
}
.hc-cat ul {
margin-top: -1px;
}
.hc-cat li {
font: normal 14px/34px '\5fae\8f6f\96c5\9ed1','microsoft yahei','\5b8b\4f53',sans-serif;
}
.hc-cat li a {
display: block;
width: 93px;
height: 34px;
line-height: 34px;
padding-left: 20px;
color: #333;
}
.hc-cat li a:hover {
color: #fff;
background-color: #ff3e07;
text-decoration: none;
transition: none 0s ease-in-out;
-moz-transition: none 0s ease-in-out;
-webkit-transition: none 0s ease-in-out;
-o-transition: none 0s ease-in-out;
-ms-transition: none 0s ease-in-out;
}
.hc-reco {
float: left;
width: 850px;
margin-left: 10px;
overflow: hidden;
}
.reco-hd {
height: 40px;
}
.reco-hd h2 {
float: left;
margin: 8px 0 5px;
}
.reco-hd ul {
float: right;
margin-top: 14px;
}
.reco-hd li {
float: left;
margin-left: 20px;
}
.reco-hd li a {
color: #f60;
}
.reco-bd {
width: 846px;
height: 337px;
border: 1px solid #dcdcdc;
overflow: hidden;
}
.reco-bd ul {
width: 850px;
overflow: hidden;
}
.reco-bd li {
float: left;
width: 120px;
height: 112px;
border: 1px solid #dcdcdc;
margin: -1px 0 0 -1px;
overflow: hidden;
}
.reco-bd li a {
display: block;
width: 90px;
height: 45px;
margin: 20px 19px 0 18px;
}
#content img {
vertical-align: top;
}
.reco-bd li p {
height: 18px;
line-height: 18px;
padding: 10px 5px 0;
text-align: center;
color: #9e9e9e;
overflow: hidden;
}
.reco-bd li p strong {
color: #f40;
font-weight: normal;
font-size: 14px;
}
.name-list {
position: relative;
width: 988px;
height: 130px;
overflow: hidden;
border-bottom: 1px solid #cacac7;
border-top: 1px solid #cacac7;
/*margin-top: 20px;*/
}
.name-list h2 {
width: 974px;
height: 31px;
font-size: 14px;
padding-left: 14px;
line-height: 31px;
position: relative;
background-color: #f3f3f3;
border-bottom: 1px solid #cacac7;
margin-bottom: 0;
}
.name-list a.last-more {
display: block;
height: 16px;
position: absolute;
top: 8px;
right: 8px;
color: #999;
}
.name-list ul li {
text-align: center;
float: left;
width: 80px;
margin: 25px 0 0 38px;
display: inline;
overflow: hidden;
}
.daquan-pic-box {
width: 80px;
height: 60px;
overflow: hidden;
}
li a.pic-80 {
width: 80px;
height: 40px;
}
li a.pic {
display: table-cell;
vertical-align: middle;
text-align: center;
}
li a.pic img {
vertical-align: middle;
}
li a.pic-80 img {
max-width: 80px;
max-height: 40px;
}
a {
color: #666;
}
ul.dropdown-menu{
height: 340px;
}
ul.dropdown-menu li{
position: relative;
}
.popover {
position: absolute;
top: 0;
left: 128px;
z-index: 1010;
display: none;
padding: 1px;
text-align: left;
white-space: normal;
background-color: #ffffff;
border: 1px solid #ff3e07;
}
.popover-title{
text-align:center;
border-bottom:1px solid #aaa;
}
.popover-content {
padding: 9px 14px;
}
ul.popover-content{
height:auto;
}
.mainhover{
color: #fff;
background-color: #ff3e07;
text-decoration: none;
transition: none 0s ease-in-out;
-moz-transition: none 0s ease-in-out;
-webkit-transition: none 0s ease-in-out;
-o-transition: none 0s ease-in-out;
-ms-transition: none 0s ease-in-out;
}
.content_tab{
font-size: 18px;
position: relative;
height:50px;
background-color:#f8f8f8;
}
.content_tab ul{
}
.content_tab .list-item{
float: left;
width: 10%;
overflow: hidden;
background-color: #f8f8f8;
}
.content_tab .list-item a{
position: relative;
display: block;
color: #333;
font-size: 20px;
text-align: center;
height: 50px;
line-height: 50px;
overflow: hidden;
cursor: pointer;
border-bottom:0;
/*border-bottom: 1px solid #e3e3e3;*/
}
.content_tab .list-item a:hover{
color: #f60;
text-decoration:none;
}
.content_tab .tab_now a{
text-align: center;
color: #f60;
background-color: #fff;
border-right: 1px solid #e3e3e3;
border-left: 1px solid #e3e3e3;
}
.content_tab li.first_tab a{
border-left:0;
}
div.catebox{
border: 1px solid #cacac7;
margin-bottom: 35px;
border-bottom:0;
}
</style>
<div class="hotscreen box clearfix" style="margin-top:10px">
    <div class="hc-main clearfix">
        <div class="hc-cat">
                <h2>全部站点</h2>
                <ul class="dropdown-menu" role="menu">
                    @foreach(Menu item in menulist.OrderBy(o => o.ShowOrder))
                    {
                    <li data-submenu-id="@item.Id">
                        <a href="@Url.RouteUrl("Menu", new { SeName = item.GetSeName() })" data-stat="">@item.Name</a>
                        <div id="@item.Id" class="popover">
                            <h3 class="popover-title">@item.Name</h3>
                            <div class="popover-content">
                                <ul>
                                @foreach (Category cate in catelist.Where(o => o.MenuId == item.Id).OrderBy(o => o.ShowOrder))
                                {
                                    <li><a href="@Url.RouteUrl("Category", new { SeName = item.GetSeName(), CategoryName = cate.GetSeName() })" target="_blank">@cate.Name</a></li>
                                }
                               </ul>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
        </div>
        <div class="hc-reco">
            <div class="reco-hd clearfix">
                <h2>网站推荐</h2>           
                <ul class="clearfix">           
                    <li><a href="#" title="更多" data-stat=""></a></li>      
                </ul>
            </div>
            <div class="reco-bd">
                <ul class="clearfix">
                @foreach (Site item in sitelist.Where(o => o.Is_Home == true).OrderBy(o => o.ShowOrder).Take(21))
                {
                    <li>
                        <div class="reco-logo">
                            <a href="@item.Url" title="@item.Description" target="_blank"><img class="J_png_img" width="90" height="45" src="@item.Logo" alt="@item.Name"></a>
                            <p><strong>@item.Name</strong></p>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="catebox clearfix">
        <div class="content_tab">
            <ul> 
        @foreach (Menu item in menulist.OrderBy(o => o.ShowOrder))
        {
            <li class="list-item @(i == 1 ? "tab_now first_tab" : "")" data-subcontent-id="m_@item.Id">
                <a href="javascript:;">@item.Name</a>
            </li>
            i++;
        }@{i = 1;}
           </ul>
        </div>
        @foreach (Menu item in menulist.OrderBy(o => o.ShowOrder))
        {
            int j=1;
            <div id="m_@item.Id" style="@(i == 1 ? "display:block;" : "display:none;")">
              @foreach(Category cate in catelist.Where(o=>o.MenuId==item.Id).OrderBy(o=>o.ShowOrder))
              {
                <div class="name-list" style="@(j == 1 ? "margin-top: 0;" : "")">
                    <h2>@cate.Name</h2>
                    <a class="last-more" href="@Url.RouteUrl("Category", new { SeName = item.GetSeName(), CategoryName = cate.GetSeName() })">更多&gt;</a>
                    <ul>
                    @foreach (Site site in sitelist.Where(o => o.CategoryId == cate.Id && o.Is_Bar == true).OrderByDescending(o => o.Is_Bar).ThenBy(o => o.ShowOrder).Take(8))
                    {
                        <li>
                            <div class="daquan-pic-box">
                                <a class="pic pic-80" href="@site.Url" title="@site.Description" target="_blank">
                                    <img src="@site.Logo" alt="@site.Name">
                                </a>
                                <a href="@site.Url"><p>@site.Name</p></a>
                            </div>
                        </li>
                    }
                    </ul>
                </div>
                  j++;
              }
            </div>
            j = 1;
            i++;
        }
    </div>
</div>
<script type="text/javascript">
    $("ul.dropdown-menu li").hover(function (event) {
        $(this).addClass("mainhover");
        var id = $(this).attr("data-submenu-id");
        $("#" + id).css("display", "block");
    }, function (event) {
        $(this).removeClass("mainhover");
        var id = $(this).attr("data-submenu-id");
        $("#" + id).css("display", "none");
    })
    $(".catebox .content_tab li.list-item").click(function () {
        var oldid = $(".catebox .content_tab li.tab_now").attr("data-subcontent-id");
        $("#" + oldid).hide();
        $(".catebox .content_tab li.tab_now").removeClass("tab_now");
        $(this).addClass("tab_now");
        var id = $(this).attr("data-subcontent-id");
        $("#" + id).show();
    });
</script>
